4. Write a program to do: A dataset collected in a cosmetics shop showing
details of customers and whether or not they responded to a special offer
to buy a new lip-stick is shown in table below. (Implement step by step
using commands - Dont use library) Use this dataset to build a decision
tree, with Buys as the target variable, to help in buying lipsticks in the
future. Find the root node of the decision tree.

In [7]:
import pandas as pd
import numpy as np
import math

In [12]:
df = pd.read_csv('Datasets\Lipstick.csv')
df.drop('Id', axis=1, inplace=True)
df

      Age  Income  Gender       Ms Buys
0     <21    High    Male   Single   No
1     <21    High    Male  Married   No
2   21-35    High    Male   Single  Yes
3     >35  Medium    Male   Single  Yes
4     >35     Low  Female   Single  Yes
5     >35     Low  Female  Married   No
6   21-35     Low  Female  Married  Yes
7     <21  Medium    Male   Single   No
8     <21     Low  Female  Married  Yes
9     >35  Medium  Female   Single  Yes
10    <21  Medium  Female  Married  Yes
11  21-35  Medium    Male  Married  Yes
12  21-35    High  Female   Single  Yes
13    >35  Medium    Male  Married   No

In [21]:
total_instances = len(df)
class_counts = df['Buys'].value_counts()
print(class_counts)
total_entropy = -sum((count/total_instances) * math.log2(count/total_instances) for count in class_counts)
print(total_entropy)

Yes    9
No     5
Name: Buys, dtype: int64
0.9402859586706311

In [22]:
for col in df.drop('Buys',axis=1).columns:
    groups = df.groupby(col)
    print()
    group_entropy = 0

    for group_name, group_df in groups:
        group_instances = len(group_df)
        group_count = group_df['Buys'].value_counts()
        group_entropy += (group_instances/total_instances) * (-sum((count/group_instances) * math.log2(count/group_instances) for count in group_count)) 

    print(f"Entropy for {col} is {group_entropy}")

    info_gain = total_entropy - group_entropy
    print(f"Information Gain for {col} is {info_gain}")

Entropy for Age is 0.6935361388961918
Information Gain for Age is 0.24674981977443933

Entropy for Income is 0.9110633930116763
Information Gain for Income is 0.02922256565895487

Entropy for Gender is 0.7884504573082896
Information Gain for Gender is 0.15183550136234159

Entropy for Ms is 0.9241743523004413
Information Gain for Ms is 0.016111606370189824