5. Write a program to do: A dataset collected in a cosmetics shop showing
details of customers and whether or not they responded to a special offer
to buy a new lip-stick is shown in table below. (Use library commands)
According to the decision tree you have made from the previous training
data set, what is the decision for the test data: [Age < 21, Income = Low,
Gender = Female, Marital Status = Married]?

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier

In [20]:
df = pd.read_csv('Datasets/Lipstick.csv')

df.drop(['Id'],axis=1,inplace=True)
print(df)
input = {'Age' : '<21', 'Income' : 'Low',
'Gender' : 'Female', 'Ms' : 'Married'}
input = pd.DataFrame(input, index=[0])
input

      Age  Income  Gender       Ms Buys
0     <21    High    Male   Single   No
1     <21    High    Male  Married   No
2   21-35    High    Male   Single  Yes
3     >35  Medium    Male   Single  Yes
4     >35     Low  Female   Single  Yes
5     >35     Low  Female  Married   No
6   21-35     Low  Female  Married  Yes
7     <21  Medium    Male   Single   No
8     <21     Low  Female  Married  Yes
9     >35  Medium  Female   Single  Yes
10    <21  Medium  Female  Married  Yes
11  21-35  Medium    Male  Married  Yes
12  21-35    High  Female   Single  Yes
13    >35  Medium    Male  Married   No

   Age Income  Gender       Ms
0  <21    Low  Female  Married

In [21]:
df_encoded = pd.get_dummies(df, columns=['Age', 'Income', 'Gender', 'Ms'])
df_encoded

,Buys,Age_21-35,Age_<21,Age_>35,Income_High,Income_Low,Income_Medium,Gender_Female,Gender_Male,Ms_Married,Ms_Single
0,No,0,1,0,1,0,0,0,1,0,1
1,No,0,1,0,1,0,0,0,1,1,0
2,Yes,1,0,0,1,0,0,0,1,0,1
3,Yes,0,0,1,0,0,1,0,1,0,1
4,Yes,0,0,1,0,1,0,1,0,0,1
5,No,0,0,1,0,1,0,1,0,1,0
6,Yes,1,0,0,0,1,0,1,0,1,0
7,No,0,1,0,0,0,1,0,1,0,1
8,Yes,0,1,0,0,1,0,1,0,1,0
9,Yes,0,0,1,0,0,1,1,0,0,1
10,Yes,0,1,0,0,0,1,1,0,1,0
11,Yes,1,0,0,0,0,1,0,1,1,0
12,Yes,1,0,0,1,0,0,1,0,0,1
13,No,0,0,1,0,0,1,0,1,1,0

In [22]:
input_encoded = pd.get_dummies(input,columns=['Age', 'Income', 'Gender', 'Ms'])
input_encoded

   Age_<21  Income_Low  Gender_Female  Ms_Married
0        1           1              1           1

In [23]:

model_input = df_encoded.copy(deep=True)
model_input.drop(model_input.index, inplace=True)
model_input.drop(['Buys'],axis=1, inplace=True)
model_input.loc[len(model_input)] = 0
model_input.update(input_encoded,overwrite=True)
model_input

,Age_21-35,Age_<21,Age_>35,Income_High,Income_Low,Income_Medium,Gender_Female,Gender_Male,Ms_Married,Ms_Single
0,0,1,0,0,1,0,1,0,1,0

In [24]:
model = DecisionTreeClassifier()
model.fit(df_encoded.drop('Buys', axis=1),df_encoded['Buys'])

DecisionTreeClassifier()

In [25]:
model.predict(model_input)

array(['Yes'], dtype=object)