20. Write a program to cluster a set of points using K-means for IRIS
dataset. Consider, K=3, clusters. Consider Euclidean distance as the
distance measure. Randomly initialize a cluster mean as one of the data
points. Iterate at least for 10 iterations. After iterations are over, print the
final cluster means for each of the clusters.

21. Write a program to cluster a set of points using K-means for IRIS
dataset. Consider, K=4, clusters. Consider Euclidean distance as the
distance measure. Randomly initialize a cluster mean as one of the data
points. Iterate at least for 10 iterations. After iterations are over, print the
final cluster means for each of the clusters.

In [2]:
import numpy as np
import pandas as pd
import random as rand
from sklearn import datasets
from sklearn.cluster import KMeans
import math

# df = pd.read_csv('Datasets/Iris.csv')
data = datasets.load_iris()
df = df.data
k=3
initial_centroids_indices = np.random.choice(df.shape[0], k, replace=False)
initial_centroids = df[initial_centroids_indices]
kmeans = KMeans(n_clusters=k, init='random', n_init=10)
kmeans.fit(df)
cluster_labels = kmeans.predict(df)
print(cluster_labels)
final_cluster_centers = kmeans.cluster_centers_
for i, center in enumerate(final_cluster_centers):
    print(f"Cluster {i + 1} Mean: {center}")

In [4]:
# data = datasets.load_iris()
# data = data.data
df= pd.read_csv("Datasets/IRIS.csv")
data = df.drop('species', axis=1).to_numpy()
k=4
# data
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [8]:
initial_clusters = rand.sample(range(data.__len__()),k)
print(initial_clusters)

[125, 51, 149, 30]

In [9]:
clusters = []
for i in initial_clusters:
    clusters.append(data[i])
print(clusters)

[array([7.2, 3.2, 6. , 1.8]), array([6.4, 3.2, 4.5, 1.5]), array([5.9, 3. , 5.1, 1.8]), array([4.8, 3.1, 1.6, 0.2])]

In [10]:
def get_cluster(data):
    weights = []
    for i in clusters:
        sum=0
        for j, k in zip(i, data):
            sum += math.pow((j-k),2)  
        weights.append(math.sqrt(sum))
    return weights.index(min(weights))

In [11]:
assigned_clusters=[]
for i in range(10):
    print(clusters)
    for i in data:
        assigned_clusters.append(get_cluster(i))
    df['cluster'] = assigned_clusters
    # print(df)
    means_by_cluster = df.groupby('cluster').mean(numeric_only=True).to_numpy()
    clusters = [cluster_values for cluster_values in means_by_cluster]
    assigned_clusters.clear()
    
print(clusters,"\n")
print(df.groupby('cluster').count())

[array([7.2, 3.2, 6. , 1.8]), array([6.4, 3.2, 4.5, 1.5]), array([5.9, 3. , 5.1, 1.8]), array([4.8, 3.1, 1.6, 0.2])]
[array([7.11304348, 3.11304348, 5.99130435, 2.13913043]), array([6.035 , 2.7875, 4.2675, 1.32  ]), array([6.06470588, 2.85      , 5.07352941, 1.83823529]), array([5.00566038, 3.36037736, 1.56226415, 0.28867925])]
[array([7.11304348, 3.11304348, 5.99130435, 2.13913043]), array([5.81627907, 2.72790698, 4.15348837, 1.28837209]), array([6.25      , 2.89117647, 5.12352941, 1.85294118]), array([5.006, 3.418, 1.464, 0.244])]
[array([7.12272727, 3.11363636, 6.03181818, 2.13181818]), array([5.6972973 , 2.68108108, 4.08378378, 1.26756757]), array([6.3097561 , 2.91463415, 5.04390244, 1.8       ]), array([5.006, 3.418, 1.464, 0.244])]
[array([7.12272727, 3.11363636, 6.03181818, 2.13181818]), array([5.63636364, 2.63636364, 4.02727273, 1.25151515]), array([6.3       , 2.92666667, 5.        , 1.76444444]), array([5.006, 3.418, 1.464, 0.244])]
[array([7.12272727, 3.11363636, 6.03181818, 2.13181818]), array([5.6       , 2.61935484, 4.00322581, 1.24193548]), array([6.29574468, 2.92553191, 4.97446809, 1.74893617]), array([5.006, 3.418, 1.464, 0.244])]
[array([7.08695652, 3.12608696, 6.01304348, 2.14347826]), array([5.58      , 2.63333333, 3.98666667, 1.23333333]), array([6.29361702, 2.9       , 4.95106383, 1.72978723]), array([5.006, 3.418, 1.464, 0.244])]
[array([7.08695652, 3.12608696, 6.01304348, 2.14347826]), array([5.58      , 2.63333333, 3.98666667, 1.23333333]), array([6.29361702, 2.9       , 4.95106383, 1.72978723]), array([5.006, 3.418, 1.464, 0.244])]
[array([7.08695652, 3.12608696, 6.01304348, 2.14347826]), array([5.58      , 2.63333333, 3.98666667, 1.23333333]), array([6.29361702, 2.9       , 4.95106383, 1.72978723]), array([5.006, 3.418, 1.464, 0.244])]
[array([7.08695652, 3.12608696, 6.01304348, 2.14347826]), array([5.58      , 2.63333333, 3.98666667, 1.23333333]), array([6.29361702, 2.9       , 4.95106383, 1.72978723]), array([5.006, 3.418, 1.464, 0.244])]
[array([7.08695652, 3.12608696, 6.01304348, 2.14347826]), array([5.58      , 2.63333333, 3.98666667, 1.23333333]), array([6.29361702, 2.9       , 4.95106383, 1.72978723]), array([5.006, 3.418, 1.464, 0.244])]

         sepal_length  sepal_width  petal_length  petal_width  species
cluster
0                  23           23            23           23       23
1                  30           30            30           30       30
2                  47           47            47           47       47
3                  50           50            50           50       50